.demo {
  padding: 18rem 0;
  background-size: 60% !important;
  background-repeat: no-repeat;
  background-position: right top !important;
  background-image: url("../images/hero-background.svg");

  &__title {
    font-size: 5.4rem;
    font-weight: bold;
    color: #1d2b4c;
    margin-bottom: 1rem;
  }
  &__description {
    font-size: 2rem;
    font-weight: 500;
    color: #5b6a87;
  }

  &__contact-info {
    margin-top: 12rem;
    @media (max-width: 575px) {
      margin-top: 5rem;
    }
    h3 {
      font-size: 3rem;
      font-weight: 700;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 3rem 0;
      li {
        font-size: 2rem;
        color: #5b6a87;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
        svg {
          font-size: 2.4rem;
          color: $color-orange-dark;
          margin-right: 1.4rem;
        }
      }
    }
  }
  &__form-container {
    margin: 0 auto;
    max-width: 35rem;
    background-color: $color-white;
    padding: 5.5rem 5rem;
    margin-top: 2rem !important;
    border-radius: 1.5rem;
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.2);
    @media (max-width: 575px) {
      max-width: 100%;
      box-shadow: none;
      border: 0px;
      padding: 5rem 0;
      margin-top: 0 !important;
    }
    h2 {
      font-size: 3rem;
      color: $color-orange-dark;
    }
    form {
      margin-top: 2rem;
      label {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 0;
        @media (max-width: 575px) {
          font-size: 2rem;
        }
      }
      .form-group {
        margin-bottom: 1.5rem;
      }
      input,
      textarea {
        border: 0px;
        font-size: 1.4rem;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 0.1rem solid #f0f0f0;
        border-radius: 0;
        @media (max-width: 575px) {
          font-size: 2rem;
        }
        &:focus {
          outline: none !important;
          box-shadow: none;
        }
      }
      button {
        padding-left: 0;
        padding-right: 0;
      }
      ::placeholder {
        font-size: 1.4rem;
        font-weight: 500;
        @media (max-width: 575px) {
          font-size: 2rem;
        }
      }
    }
  }
}
