.footer {
  background-color: $color-blue-dark;
  padding: 6.7rem 0 0 0;
  .col-top {
    text-align: center;
    .main-heading {
      color: $color-white;
      font-size: 3.2rem;
      padding: 0 2rem;
      line-height: 1.4;
    }
  }

  .footer-bottom {
    background-image: url("../images/footer_image.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-top: 8rem;
    padding: 5.6rem 0;
    border-top: 0.1rem solid rgba($color-white, 0.1);
    &__logo {
      max-width: 13.6rem;
    }
    .copyright {
      font-size: 1.4rem;
      color: $color-blue-light;
      margin-top: 2rem;
    }
    &__social-icons {
      justify-content: flex-end;
      display: flex;
      a {
        svg {
          font-size: 2.4rem;
        }
      }
      a:not(last-child) {
        margin-right: 1.5rem;
      }
    }
    &__menu {
      margin-top: 2rem;
      ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        a {
          font-size: 1.4rem;
          color: $color-blue-light;
          text-decoration: none;
          font-weight: 500;
        }
        li:not(last-child) {
          margin-right: 1rem;
        }
      }
    }
    &__right {
      align-items: flex-end;
      justify-content: flex-end;
      display: flex;
      flex-direction: column;
    }
  }
}
