.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  .navbar {
    padding: 2rem 0;
    border-radius: 0.5rem;
    position: relative;
    transition: all 0.3s ease-out 0s;
    .nav-link {
      color: $color-blue-dark;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 500;
      font-family: $font-body;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
  &.sticky {
    position: fixed;
    background-color: $color-white;
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-out 0s;
    .navbar {
      padding: 1rem 0;
    }
  }
}
