.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  .navbar {
    padding: 1.5rem 0;
    border-radius: 0.5rem;
    position: relative;
    transition: all 0.3s ease-out 0s;
    justify-content: space-between;
    .logo {
      width: 15rem;
      height: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .nav-link {
      color: $color-blue-dark;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 500;
      font-family: $font-body;

      @media (max-width: 900px) {
        font-size: 2.6rem;
        font-weight: bold;
      }

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    .btn-dark-blue {
      @media (max-width: 900px) {
        font-size: 2.6rem;
        font-weight: bold;
        padding: 2rem 3.6rem;
      }
    }
    .sub-menu-bar {
      &.showMenu {
        left: 0;
      }
      .cross-icon {
        font-size: 4rem;
        color: $color-blue-dark;
        position: absolute;
        top: 5%;
        right: 5%;
        display: none;
        cursor: pointer;
        @media (max-width: 900px) {
          display: block;
        }
      }
      @media (max-width: 900px) {
        transition: all 0.8s ease-in-out;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 70%;
        max-width: 50rem;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;

        .navbar-nav {
          display: flex;
          flex-direction: column;
          .nav-link {
            margin-right: 0;
            margin-bottom: 2rem;
          }
        }
        .btn-dark-blue {
          margin-left: 0;
          margin-bottom: 1rem;
        }
      }
    }
    .hamburger-icon {
      display: none;
      cursor: pointer;
      svg {
        font-size: 4rem;
        color: $color-blue-dark;
        margin-top: -2rem;
      }
      @media (max-width: 900px) {
        display: block !important;
      }
    }
  }
  &.sticky {
    position: fixed;
    background-color: $color-white;
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-out 0s;
    .navbar {
      padding: 1rem 0;
    }
  }
}
