.hero {
  height: 90vh;
  background-size: 60% !important;
  background-position: right top !important;
  @media (max-width: 767px) {
    padding: 6rem 0;
  }
  .container,
  .row {
    height: 100%;
  }
  &__img-container {
    img {
      width: 100%;
    }
    @media (max-width: 767px) {
      order: -1;
    }
  }
  &__text-container {
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  h2 {
    font-weight: 700;
    font-family: $font-heading;
    font-size: 4.8rem;
    color: $color-blue-dark;
  }
  p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: $color-blue-light;
  }
}
