.post-template {
  padding: 15rem 0 8rem 0;
  &__title {
    font-size: 5.5rem;
    line-height: 1.1;
    text-align: center;
    font-weight: bold;
    margin-bottom: 6rem;

    @media (max-width: 767px) {
      margin-bottom: 2rem;
      text-align: left;
    }
    @media (max-width: 600px) {
      font-size: 4.2rem;
    }
  }
  &__content {
    font-size: 2rem;
    padding: 6rem 6rem 0 6rem;
    @media (max-width: 767px) {
      padding: 4rem 0;
    }
    p {
      color: #5b6a87;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    h1 {
      margin: 4rem 0 2rem 0;
      font-size: 3rem;
      color: #1d2b4c;
    }
  }
}
