.gradient-btn-1 {
  background-color: $color-orange-dark;
  background-image: linear-gradient(
    to right,
    $color-orange-light,
    $color-orange-dark
  );
  position: relative;
  font-size: 1.4rem;
  color: $color-white;
  padding: 1.3rem 3.3rem;
  font-family: $font-body;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px;
  text-decoration: none !important;
  margin-top: 1.5rem;
  display: inline-block;
  border-radius: 0.3rem;
  line-height: 1.6;
  background-size: 200% auto;
  transition: all 1.5s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    color: $color-white;
    background-image: linear-gradient(
      120deg,
      $color-orange-light 0%,
      $color-orange-dark 45%,
      $color-orange-light 100%
    );
    background-position: right center;
  }
}
.gradient-btn-2 {
  background-image: linear-gradient(
    to right,
    $color-sky-light,
    $color-sky-dark
  );
  font-size: 1.4rem;
  color: $color-white;
  padding: 1.3rem 3.3rem;
  font-family: $font-body;
  font-weight: 700;
  text-transform: uppercase;
  border: 0px;
  text-decoration: none !important;
  margin-top: 1.5rem;
  display: inline-block;
  border-radius: 0.3rem;
  line-height: 1.6;
  background-size: 200% auto;
  transition: all 1.5s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    color: $color-white;
    background-image: linear-gradient(
      120deg,
      $color-sky-light 0%,
      $color-sky-dark 45%,
      $color-sky-light 100%
    );
    background-position: right center;
  }
}
.btn-dark-blue {
  background-color: $color-blue-dark;
  font-size: 1.4rem;
  color: $color-white;
  padding: 1rem 2rem;
  font-family: $font-body;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px;
  text-decoration: none !important;
  display: inline-block;
  border-radius: 0.3rem;
  margin-left: 2rem;
  background-size: 200% auto;
  transition: all 1.5s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    color: $color-white;
    background-image: linear-gradient(
      120deg,
      $color-blue-dark 0%,
      $color-blue-light 45%,
      $color-blue-dark 100%
    );
    background-position: right center;
  }
}

h2.main-heading {
  font-weight: 700;
  font-family: $font-heading;
  font-size: 4.8rem;
  line-height: 1.2;
  color: $color-blue-dark;
  text-align: center;
  margin-bottom: 2rem;
}
